#user-info {
  height: 400px;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #2F2F57;
}

.name {
  color: white;
}