#user-info {
  height: 400px;
  width: 100vw;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #2F2F57;
  background-image: url("https://www.transparenttextures.com/patterns/cream-pixels.png");
}

.name {
  color: #e5e5e5;
}

/* when in desktop mode the following changes are made to the #user-info */
@media only screen and (min-width: 1024px) {
  
  #user-info {
    width: 30vw;
    margin-top: 30px;
    margin-left: auto;
    border-radius: 15px 50px 30px;
  }

}