nav {
  display: flex;
  height: 120px;
  width: 100vw;
  background-color: #9A9C3A;
  color: #2D2E08;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 1.5em 15px;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

/* formatting of TWEETER title/banner */
nav>span {
  display: flex;
  font-family: 'Bungee', cursive;
  align-self: flex-end;
  font-size: 3rem;
}

/* formatting of Write a tweet and the awesome font arrows below it*/
.right-ui{
  display: flex;
  align-items: flex-end;
}

.right-ui-text {
  display: flex;
  font-family:  'Source Sans Pro', sans-serif;
  flex-direction: column;
}

.down-arrow {
  display: flex;
  align-self: center;
  color: #2D2E08;
}

.down-arrow:hover {
  color: #F7FA37;
}